body {
    font-family: 'Cinzel', serif;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.timeline-container, .carta-container {
    background: rgba(0, 0, 0, 0.75);  /* Fundo translúcido */
    padding: 30px;
    border-radius: 10px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; /* Para garantir que a imagem de fundo não ultrapasse o container */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
}

.timeline h1, .carta-container h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    position: relative;
    z-index: 1;
}

.timeline ul {
    list-style: none;
    padding: 0;
}

.timeline-item {
    padding: 20px;
    margin-bottom: 10px;
    border-left: 2px solid #ccc;
}

.timeline-date {
    font-size: 1.2rem;
    color: #b3b3b3;
}

/* Estilo da carta com fonte de cartas do WoW */
.carta-container h1, .carta-container p {
    font-family: 'Cinzel', serif; /* Fonte que remete ao estilo do WoW */
    color: #e0dcdc;
    font-size: 20px;
}

.carta-container .signature {
    font-size: 22px;
    color: #e0dcdc;
    margin-top: 30px;
    font-style: italic;
}

.cta-button {
    display: block;
    width: max-content;
    margin: 20px auto;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.cta-button:hover {
    background: #555;
}

/* Responsividade */
@media (max-width: 1200px) {
    .timeline-container, .carta-container {
        padding: 20px;
    }
    
    .timeline h1, .carta-container h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .timeline-container, .carta-container {
        padding: 15px;
    }

    .timeline h1, .carta-container h1 {
        font-size: 2rem;
    }

    .timeline-item {
        padding: 15px;
    }

    .timeline-date {
        font-size: 1rem;
    }

    .carta-container h1, .carta-container p {
        font-size: 18px;
    }

    .carta-container .signature {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .timeline-container, .carta-container {
        padding: 10px;
    }

    .timeline h1, .carta-container h1 {
        font-size: 1.5rem;
    }

    .timeline-item {
        padding: 10px;
    }

    .timeline-date {
        font-size: 0.9rem;
    }

    .carta-container h1, .carta-container p {
        font-size: 16px;
    }

    .carta-container .signature {
        font-size: 18px;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 1rem;
    }
}
